<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>
    <php>
        <const name="WEB_SERVER_HOST" value="0.0.0.0" />
        <!--<const name="WEB_SERVER_PORT" value="7777" />-->
        <const name="WEB_SERVER_DOCROOT" value="tests" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>
